<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
	</connectionStrings>
	<appSettings>
		<add key="translatorUrl" value="<your_translator_url>" />
		<add key="translatorKey" value="<your_translator_key>"/>
		<add key="translatorRegion" value="<your_translator_region>"/>
	</appSettings>
</configuration>